.card {
    width: 100px;
    height: 130px;
    background-color: grey;
    border-radius: 10px;
    box-shadow: 3px 3px 8px;
    margin: 20px;
    font-size: 11px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .checkbox {
    position: absolute;
    padding: 2px;
  }
  
  .card button {
    background-color: blue;
    margin: 10px;
    border-radius: 5px;
    height: 25px;
    font-size: 11px;
    border-style: none;
  }
  
  .avatar img {
    margin-top: 5px;
    width: 30px;
    border-radius: 100%;
  }
  